@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@200;300;400;500;700&display=swap');
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  left: 0;
  background: #11101d;
  color: #fff;
}

/* Header */
.s-head {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.s-head__icon {
  flex: 1 2 auto;
}

.s-head__icon i {
  font-size: 2.4em;
}

.s-head__text {
  flex: 2 1 auto;
}

.s-head__text p {
  font-size: 1.6em;
  font-weight: 700;
}

.s-head__text span {
  font-family: 'Poppins', sans-serif;
  color: aqua;
  font-size: 1.4em;
  font-weight: 400;
}

/* Body */

/* Footer */